@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfd2cf;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #0b132a;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.username {
  outline: none;
  padding-right: 200px;
}

.main__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  padding-bottom: 10px;
  color: #73777b;
}

.main__subtitle {
  font-weight: 400;
  font-size: 1.1rem;
  color: #7f8487;
  margin-bottom: 0.6rem;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  width: 43rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  padding-left: 0.8rem;
  font-weight: 500;
  font-size: 1rem;
  color: #0b132a;
  margin-bottom: 1rem;
}

.category-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.todo-category {
  width: 20rem;
  height: 6.25rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__personal {
}

.todo-btn {
  width: 43rem;
  height: 3rem;
  color: #fff;
  font-size: 1.1rem;
  background-color: #764af1;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  margin: 1.1rem 0 1rem 0;
}

.Todo {
  width: 43rem;
  height: 3.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.6rem;
  margin-bottom: 0.6rem;
}

.todo__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-right: 0.6rem;
}

.btn-edit,
.btn-delete {
  height: 2.5rem;
  width: 4rem;
  border: none;
  border-radius: 0.6rem;
  color: #fff;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: pointer;
}

.btn-edit {
  background-color: #c7d36f;
}

.btn-delete {
  background-color: #eb1d36;
}
